{% extends "base.html" %}

{% block title %}
    Users - все о пользователях
{% endblock %}

{% block content %}
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.first_name }} {{ user.last_name }}</li>
            <li>Surname: {{ user.surname }}</li>
            <li>Job Title: {{ user.job_title }}</li>
            <li>Working in Company: {{ user.working_in_company }}</li>
            <!-- Вывод других дополнительных полей MyUser, если это необходимо -->
        {% endfor %}
    </ul>
{% endblock %}

